<app-title title="הלוח שלי" margine="1.5rem 0 0 2.5rem"></app-title>

<div class="container">
    <ul>
        <li *ngFor="let cartItem of cart.items">
            <div>
                <img [src]="cartItem.item.imageUrl" [alt]="cartItem.item.name" drag>
            </div>

            <div>
                <a routerLink="/item/{{cartItem.item.id}}">
                  {{cartItem.item.name}}
                </a>
            </div>

            <div>
                <select #quantitySelect
                    [value]="cartItem.quantity"
                    (change)="changeQuantity(cartItem,quantitySelect.value)">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>

                 </select>
            </div>

            <div>
                {{cartItem.price}}
            </div>

            <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">
                    הסר
                </button>
            </div>
        </li>
    </ul>

    <div class="checkout">
        <div>
            <div class="total-count">{{cart.totalCount}}</div>
            <div class="total-price">  &#8362; {{cart.totalPrice}}</div>
        </div>
        
        <a routerLink="/checkout">סיים לוח</a>

    </div>
</div>

<div class="board" >
    <ul>
        <li *ngFor="let cartItem of cart.items">
            <div>
                <img [src]="cartItem.item.imageUrl" cdkDrag>
            </div>

        </li>
    </ul>
</div>