<header>
    <div class = "container">
      <a routerLink="/" class="logo" >Magnetic Boards</a>
      <nav>
        <ul>
          <li>
            <a routerLink="/login" >התחברות</a>
  
          </li>
          <li class = "menu-container">
            <a routerLink="/dascoard" >יהונתן</a>
            <div class="menu">
              <a routerLink="/profile" >פרופיל</a>
              <a routerLink="/orders" >הלוחות שלי</a>
              <a>התנתק</a>
  
            </div>
          </li>
          <li>
            <a routerLink="/cart-page">
              הלוח שלי <span>3</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>